.cache/
.git/
.history/
.idea/
.vscode/
dist/
.idea/
node_modules/
.svn/
dist/
taxi-common/
taxi-html/
taxi-html-ie8/
taxi-html-old/
taxi-server/
taxi-admin-ebean/target/
taxi-admin-ebean/*.iml
taxi-common-ebean/target/
taxi-common-ebean/*.iml