<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="LOGFILE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="LOGFILE"/>
	</root>

	<logger name="com.dengpao" level="DEBUG"/>
	<logger name="io.ebean" level="DEBUG"/>


</configuration>