<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="error">
		<appender-ref ref="stdout"/>
	</root>

	<logger name="com.ys" level="INFO" addtivity="false"/>
	<logger name="io.ebean" level="DEBUG" addtivity="false" />
	<logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" level="INFO" addtivity="false"/>
	<logger name="org.springframework.context.support.FilterRegistrationBean" level="INFO" addtivity="false"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="DEBUG" addtivity="false"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="DEBUG" addtivity="false"/>
	<logger name="org.apache.coyote.http11.Http11InputBuffer" level="DEBUG" addtivity="false"/>
	<logger name="org.springframework.boot.context.embedded.tomcat" level="DEBUG" addtivity="false"/>
	<logger name="springfox.documentation.swagger2.web.ClassOrApiAnnotationResourceGrouping" level="error" addtivity="false"/>
	<logger name="springfox.documentation.spring.web.caching.CachingAspect" level="error" addtivity="false"/>


</configuration>