<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- 6小时  省市地区查询缓存 -->
    <bean id="defaultGuavaCache_6h" class="com.zzsim.taxi.core.common.builder.GuavaCacheBuilder">
        <property name="maxSize" value="2000"></property>
        <property name="accessExpireTime" value="6"></property>
        <property name="writeExpireTime" value="6"></property>
        <property name="timeUnit" value="HOURS"></property>
    </bean> 
    <bean id="areaCodeCache" factory-bean="defaultGuavaCache_6h" factory-method="callableCached"/>
    
    
    <!-- 4小时 模拟器缓存 -->
    <bean id="defaultGuavaCache_4h" class="com.zzsim.taxi.core.common.builder.GuavaCacheBuilder">
        <property name="maxSize" value="2000"></property>
        <property name="accessExpireTime" value="4"></property>
        <property name="writeExpireTime" value="4"></property>
        <property name="timeUnit" value="HOURS"></property>
    </bean> 
    <bean id="storeSimulatorCache" factory-bean="defaultGuavaCache_4h" factory-method="callableCached"/>
    
    
    <!-- 2小时缓存 -->
    <bean id="defaultGuavaCache_2h" class="com.zzsim.taxi.core.common.builder.GuavaCacheBuilder">
        <property name="maxSize" value="12000"></property>
        <property name="accessExpireTime" value="2"></property>
        <property name="writeExpireTime" value="2"></property>
        <property name="timeUnit" value="HOURS"></property>
    </bean>
    <bean id="guavaCache" factory-bean="defaultGuavaCache_2h" factory-method="callableCached"/>
    
    
    <!-- 默认缓存  60分钟  -->
    <bean id="defaultGuavaCacheBuilder" class="com.zzsim.taxi.core.common.builder.GuavaCacheBuilder"/>
    <bean id="smsCache" factory-bean="defaultGuavaCacheBuilder" factory-method="callableCached"/>


    <!-- 2分钟 -->
    <bean id="defaultGuavaCache_2m" class="com.zzsim.taxi.core.common.builder.GuavaCacheBuilder">
        <property name="maxSize" value="2000"></property>
        <property name="accessExpireTime" value="2"></property>
        <property name="writeExpireTime" value="2"></property>
        <property name="timeUnit" value="MINUTES"></property>
    </bean> 
    <bean id="memberPageQueryCache" factory-bean="defaultGuavaCache_2m" factory-method="callableCached"/>

    
    <!-- 30秒  -->
    <bean id="defaultGuavaCache_30s" class="com.zzsim.taxi.core.common.builder.GuavaCacheBuilder">
        <property name="maxSize" value="2000"></property>
        <property name="accessExpireTime" value="30"></property>
        <property name="writeExpireTime" value="30"></property>
        <property name="timeUnit" value="SECONDS"></property>
    </bean> 
    <bean id="coachPlanConfirmCache" factory-bean="defaultGuavaCache_30s" factory-method="callableCached"/>

</beans>