<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="com.zzsim.taxi.admin.shiroRealm.ShiroDbRealm" >
 		<property name="sysMemberService" ref="sysMemberService"></property>
 		<property name="sysResourceService" ref="sysResourceService"></property>
 		<property name="sysRoleService" ref="sysRoleService"></property>
 		<property name="sysOrganizationService" ref="sysOrganizationService"></property>
    </bean>
     
	<!-- 会话Cookie-->  
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">  
	    <constructor-arg value="sid"/>  
	    <property name="name" value="taxiCookieShiroSessionId"></property>
	    <property name="httpOnly" value="true"/>  
	    <property name="maxAge" value="-1"/> <!-- -1表示关闭浏览器后失效 -->
	</bean>  
	
	<!-- rememberMeCookie -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">  
	    <constructor-arg value="rememberMe"/>  
	    <property name="httpOnly" value="true"/>  
	    <property name="name" value="cocoCNRememberMe"></property>
	    <property name="maxAge" value="2592000"/><!-- 30天 -->  
	</bean> 
	
    <!-- rememberMe管理器 记住我cookie -->  
    <bean id="rememberMeManager"   class="org.apache.shiro.web.mgt.CookieRememberMeManager">  
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>  
        <property name="cookie" ref="rememberMeCookie"/>  
    </bean>  
    
    <!-- 会话管理器 -->
    <bean id="sessionIdManage" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
    	<property name="sessionIdCookie" ref="sessionIdCookie"></property>
    	<property name="sessionIdCookieEnabled" value="true"></property>
    	<property name="globalSessionTimeout" value="3600000"/> 
    </bean>
	    
    <!-- 缓存管理器 -->  
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" />
     
	<!-- 安全管理器   -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="rememberMeManager" ref="rememberMeManager"></property>
		<property name="sessionManager" ref="sessionIdManage"></property>
		<property name="cacheManager" ref="cacheManager"/>
		<property name="realm" ref="shiroDbRealm"/>
	</bean>
	
	<bean id="shiroFilter"
		class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/#/login" /> <!-- 登录地址 -->
		<property name="successUrl" value="/#/home" /> <!-- 登录成功后默认跳转的页面 -->
		<property name="unauthorizedUrl" value="redirect:/#/403" />
		<property name="filters">
			<map>
				<entry key="authToken">
					<bean class="com.zzsim.taxi.admin.interceptor.TokenFilter"/>
				</entry>
				<entry key="authc">
					<bean class="com.zzsim.taxi.admin.shiroRealm.CustomAuthenticationFilter"/>
				</entry>
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/login.htm = anon
				/#/** = anon
				/sysRole/getRole.htm = anon

				/finger/**.htm = anon
				/page/login.jsp = anon
				/page/nositemesh/noResource.jsp = anon
				/page/rbac/loginFailure.jsp = anon
				/rbac/account/index.htm = anon
				/rbac/account/login.htm = anon
				/rbac/account/toreset.htm = anon
				/rbac/account/reset.htm = anon
				/common/**.htm = anon
				
				/page/** = authc
				/**/**.htm = authToken,authc
			</value>
		</property>
	</bean>
	
</beans>